::view-transition-old(root) {
  animation-name: fade-out;
}

::view-transition-new(root) {
  animation-name: fade-in;
}

@keyframes fade-out {
  from {
    opacity: 1;
    translate: 0 0;
  }
  to {
    opacity: 0;
    translate: 0 5%;
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
    translate: 0 5%;
  }
  to {
    opacity: 1;
    translate: 0 0;
  }
}
